.bar {
    width: 30px;
    margin: 0 2px;
    background-color: lightblue;
    display: inline-block;
    transition: height 0.3s;
}

.highlight {
    background-color: bisque;
}

.highlight2 {
    background-color: deeppink;
}